## 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [3]:
test1='This is a test of the emergency text system'

with open('test.txt','w') as f1:
    f1.write(test1)
    
test1

'This is a test of the emergency text system'

## 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [10]:
with open('test.txt') as f2:
    test2=f2.read()
print(test2)

test1==test2

This is a test of the emergency text system

True

## 3. Create a CSV file called books.csv by using these lines:
## title,author,year
## The Weirdstone of Brisingamen,Alan Garner,1960
## Perdido Street Station,China Mi√©ville,2000
## Thud!,Terry Pratchett,2005
## The Spellman Files,Lisa Lutz,2007
## Small Gods,Terry Pratchett,1992

In [11]:
texts='''title, author, year
The Weirdstone of Brisingamen, Alan Garner, 1960
Perdido Street Station, China Mieville, 2000
Thud !, Terry Pratchett, 2005
The Spellmen Files, Lisa Lutz, 2007
Small Gods, Terry Pratchett, 1992
'''

with open('books.csv','wt') as file5:
    file5.write(texts)

## 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

db = sqlite3.connect ('books.db') #data base name is 'books'
curs = db.cursor ()
curs.execute('''create table book (title text, author text, year int)''') #Table name is 'book'
db.commit()
db.close()

OperationalError: table book already exists

## 5. Read books.csv and insert its data into the book table.

In [13]:
import csv

db=sqlite3.connect('books.db')
cursor=db.cursor()
query ='insert into book values(?,?,?)'
with open('books.csv','rt') as r:
    x=csv.DictReader(r)
    for i in x:
        cursor.execute(query,(i['title'],i[' author'],i[' year']))
db.commit()
db.close()

## 6. Select and print the title column from the book table in alphabetical order.

In [14]:
db=sqlite3.connect('books.db')
cursor=db.cursor()

query='select title from book order by title asc'

for i in cursor.execute(query):
    print(i[0])

Perdido Street Station
Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
Small Gods
The Spellmen Files
The Spellmen Files
The Spellmen Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud !
Thud !
Thud !

## 7. From the book table, select and print all columns in the order of publication.

In [15]:
db=sqlite3.connect('books.db')
cursor=db.cursor()

query='select author from book order by author asc'

for i in cursor.execute(query):
    print(i[0])
    
db.close()

 Alan Garner
 Alan Garner
 Alan Garner
 China Mieville
 China Mieville
 China Mieville
 Lisa Lutz
 Lisa Lutz
 Lisa Lutz
 Terry Pratchett
 Terry Pratchett
 Terry Pratchett
 Terry Pratchett
 Terry Pratchett
 Terry Pratchett

## 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [18]:
import sqlalchemy

conn=sqlalchemy.create_engine('sqlite:///books.db')
query='select title from book order by title asc'
records=conn.execute(query)
for i in records:
    print(i)

('Perdido Street Station',)
('Perdido Street Station',)
('Perdido Street Station',)
('Small Gods',)
('Small Gods',)
('Small Gods',)
('The Spellmen Files',)
('The Spellmen Files',)
('The Spellmen Files',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('Thud !',)
('Thud !',)
('Thud !',)

## 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
import redis

conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

## 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)